body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #06402B;
}

header {
    background-color: #211714;
    color: #e5aa70;
    padding: 20px;
    text-align: center;
}

nav button {
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.columns {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.columns div {
    flex: 1;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
}

footer {
    background-color: #ddd;
    text-align: center;
    padding: 5px;
}

.staff-profile {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.staff-profile.reverse {
    flex-direction: row-reverse;
}

.staff-profile img {
    width: 550px;
    height: auto;
    border-radius: 6px;
}

.staff-text {
    max-width: 600px;
}

.staff-text h2 {
    color: #87ceeb;
}

.staff-text p {
    color: #ffff;
}

.columns div {
    line-height: 1.6;
}

.columns h2 {
    margin-bottom: 12px;
}

.columns p {
    margin-top: 0;
    margin-bottom: 16px;
}

.collection-section {
    padding: 30px;
}

.collection-item {
    display: flex;
    gap: 30px;
    margin-bottom: 40px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 6px;
}

.collection-item img {
    width: 400px;
    height: auto;
    border-radius: 6px;
}

.collection-text {
    max-width: 700px;
}

.collection-text h2 {
    color: #211714;
    margin-bottom: 10px;
}

.collection-text p {
    margin: 6px 0;
    color: #000000;
}

.collection-section h1 {
    color: #87ceeb;
    text-align: center;
    margin-bottom: 20px;
}

#anthropology h1 {
    color: #ffa07a;
}

.collection-text ul {
    margin: 6px 0 12px 20px;
    color: #000000;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  display: none;
  z-index: 9999;
}

.modal-content {
  background-color: #ffffff;
  margin: 5% auto;
  padding: 24px;
  width: 70%;
  max-width: 800px;
  border-radius: 8px;
  overflow-y: auto;
  max-height: 80vh;
}

.close-modal {
  float: right;
  font-size: 1.2rem;
  background: none;
  border: none;
  cursor: pointer;
}

.modal-item {
  display: none;
}

#histories {
    color: white;
}

#histories h2 {
    color: white;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

#histories .history-item {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

#histories .history-item img {
    width: 300px;
    height: auto;
    border-radius: 6px;
    flex-shrink: 0;
}

#histories .history-item .interpretation {
    flex: 1;
    color: white;
}

#histories .history-item .other-content {
    width: 100%;
    margin-top: 10px;
    color: white;
}


